body {
  background-color: black;
  color: whitesmoke;
}
.flex-container__wrapper {
  width: 1000px;
  height: 1000px;
}
.flex-label__wrapper {
  width: 50px;
  height: 100px;
  padding-left: 25%;
}
.flex-button_wrappe {
  width: 100px;
  height: 100px;
  padding-left: 75%;
}

.flex-list__wrapper {
  width: 90%x;
  height: 80%px;
  padding-left: 25%;
}
